section.repositories {
  margin: 4rem;

  .repositories__title {
    margin-bottom: 1.6rem;
  }

  .repositories__list {
    list-style: none;

    .repositories__list__item {
      & + li {
        margin-top: 2rem;
      }

      .repositories__list__text {
        font-size: 1.4rem;
        color: #444;

        margin-top: 0.8rem;
      }

      .repositories__list__link {
        display: inline-block;
        
        text-decoration: none;

        margin-top: 1.6rem;

        color: #8257e6;
      }
    }
  }
} 